<a href="https://colab.research.google.com/github/Arminsbss/ANN-Churn_Modelling/blob/main/ANN_Churn_Modelling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
dataset= pd.read_csv('Churn_Modelling.csv')

In [ ]:
dataset

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [ ]:
#first we do the data cleaning: we dont need the first 3 columns
X = dataset.iloc[:,3:13].values
Y = dataset.iloc[:,13].values

In [ ]:
Y

array([1, 0, 1, ..., 1, 1, 0])

In [ ]:
#==========Encoding Geography and Gender columns==========
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder_X_2 = LabelEncoder()
X[:,2] = labelencoder_X_2.fit_transform(X[:,2])

In [ ]:
X

array([[619, 'France', 0, ..., 1, 1, 101348.88],
       [608, 'Spain', 0, ..., 0, 1, 112542.58],
       [502, 'France', 0, ..., 1, 0, 113931.57],
       ...,
       [709, 'France', 0, ..., 0, 1, 42085.58],
       [772, 'Germany', 1, ..., 1, 0, 92888.52],
       [792, 'France', 0, ..., 1, 0, 38190.78]], dtype=object)

In [ ]:
from sklearn.compose import ColumnTransformer
ct = ColumnTransformer([('ohe',OneHotEncoder(),[1])],remainder='passthrough')
X=np.array(ct.fit_transform(X),dtype= np.str)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
X = X[:,1:]
print(X)

[['0.0' '0.0' '619' ... '1' '1' '101348.88']
 ['0.0' '1.0' '608' ... '0' '1' '112542.58']
 ['0.0' '0.0' '502' ... '1' '0' '113931.57']
 ...
 ['0.0' '0.0' '709' ... '0' '1' '42085.58']
 ['1.0' '0.0' '772' ... '1' '0' '92888.52']
 ['0.0' '0.0' '792' ... '1' '0' '38190.78']]

In [ ]:
#==========split train and test==========
from sklearn.model_selection import train_test_split
X_train, X_test, y_train , y_test = train_test_split(X,Y,test_size = 0.2, random_state = 0)

In [ ]:
#==========feature scaling==========
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [ ]:
import pandas as pd
print(X_train)

[[-0.5698444   1.74309049  0.16958176 ...  0.64259497 -1.03227043
   1.10643166]
 [ 1.75486502 -0.57369368 -2.30455945 ...  0.64259497  0.9687384
  -0.74866447]
 [-0.5698444  -0.57369368 -1.19119591 ...  0.64259497 -1.03227043
   1.48533467]
 ...
 [-0.5698444  -0.57369368  0.9015152  ...  0.64259497 -1.03227043
   1.41231994]
 [-0.5698444   1.74309049 -0.62420521 ...  0.64259497  0.9687384
   0.84432121]
 [ 1.75486502 -0.57369368 -0.28401079 ...  0.64259497 -1.03227043
   0.32472465]]

In [ ]:
#==========All scaled with feasible range==========
pd.DataFrame(X_train)

,0,1,2,3,4,5,6,7,8,9,10
0,-0.569844,1.743090,0.169582,-1.091687,-0.464608,0.006661,-1.215717,0.809503,0.642595,-1.032270,1.106432
1,1.754865,-0.573694,-2.304559,0.916013,0.301026,-1.377440,-0.006312,-0.921591,0.642595,0.968738,-0.748664
2,-0.569844,-0.573694,-1.191196,-1.091687,-0.943129,-1.031415,0.579935,-0.921591,0.642595,-1.032270,1.485335
3,-0.569844,1.743090,0.035566,0.916013,0.109617,0.006661,0.473128,-0.921591,0.642595,-1.032270,1.276528
4,-0.569844,1.743090,2.056114,-1.091687,1.736588,1.044737,0.810193,0.809503,0.642595,0.968738,0.558378
...,...,...,...,...,...,...,...,...,...,...,...
7995,1.754865,-0.573694,-0.582970,-1.091687,-0.656016,-0.339364,0.703104,0.809503,0.642595,0.968738,1.091330
7996,-0.569844,1.743090,1.478815,-1.091687,-1.613058,-0.339364,0.613060,-0.921591,0.642595,0.968738,0.131760
7997,-0.569844,-0.573694,0.901515,0.916013,-0.368904,0.006661,1.361474,0.809503,0.642595,-1.032270,1.412320
7998,-0.569844,1.743090,-0.624205,-1.091687,-0.081791,1.390762,-1.215717,0.809503,0.642595,0.968738,0.844321
7999,1.754865,-0.573694,-0.284011,-1.091687,0.875251,-1.377440,0.511364,-0.921591,0.642595,-1.032270,0.324725

In [ ]:
#==========Building Artifitial Modeling==========
# from tensorflow.keras.models import Sequential
from keras.models import Sequential
from keras.layers import Dense
classifier = Sequential()

In [ ]:
#==========Add neurons: 11 input and 6 output==========
classifier.add(Dense(units = 6, kernel_initializer= 'uniform', activation = 'relu', input_dim = 11))

In [ ]:
#==========Add hidden layers==========
classifier.add(Dense(units= 6, kernel_initializer= 'uniform', activation = 'relu'))

In [ ]:
#==========Add output layer==========
classifier.add(Dense(units= 1, kernel_initializer= 'uniform', activation = 'sigmoid'))

In [ ]:
#==========Compile model1==========
classifier.compile(optimizer='adam', loss= 'binary_crossentropy', metrics=['accuracy'])

In [ ]:
#==========Compile model2==========
# import tensorflow as tf
# classifier.compile(optimizer='adam',loss = tf.keras.losses.SparseCategoricalCrossentropy(from_logits=True), metrics=['accuracy'])

In [ ]:
#==========Fit dataset to model==========
classifier.fit(X_train,y_train,batch_size =5, epochs=100)

Epoch 1/100
1600/1600 [==============================] - 5s 3ms/step - loss: 0.4528 - accuracy: 0.7943
Epoch 2/100
1600/1600 [==============================] - 3s 2ms/step - loss: 0.4092 - accuracy: 0.8116
Epoch 3/100
1600/1600 [==============================] - 3s 2ms/step - loss: 0.3961 - accuracy: 0.8289
Epoch 4/100
1600/1600 [==============================] - 3s 2ms/step - loss: 0.3863 - accuracy: 0.8304
Epoch 5/100
1600/1600 [==============================] - 3s 2ms/step - loss: 0.3789 - accuracy: 0.8462
Epoch 6/100
1600/1600 [==============================] - 3s 2ms/step - loss: 0.3737 - accuracy: 0.8454
Epoch 7/100
1600/1600 [==============================] - 3s 2ms/step - loss: 0.3701 - accuracy: 0.8476
Epoch 8/100
1600/1600 [==============================] - 4s 2ms/step - loss: 0.3667 - accuracy: 0.8494
Epoch 9/100
1600/1600 [==============================] - 3s 2ms/step - loss: 0.3638 - accuracy: 0.8525
Epoch 10/100
1600/1600 [==============================] - 3s 2ms/step - loss: 0.3626 - accuracy: 0.8534
Epoch 11/100
1600/1600 [==============================] - 3s 2ms/step - loss: 0.3618 - accuracy: 0.8529
Epoch 12/100
1600/1600 [==============================] - 3s 2ms/step - loss: 0.3590 - accuracy: 0.8545
Epoch 13/100
1600/1600 [==============================] - 4s 2ms/step - loss: 0.3583 - accuracy: 0.8561
Epoch 14/100
1600/1600 [==============================] - 4s 2ms/step - loss: 0.3574 - accuracy: 0.8554
Epoch 15/100
1600/1600 [==============================] - 3s 2ms/step - loss: 0.3564 - accuracy: 0.8551
Epoch 16/100
1600/1600 [==============================] - 4s 2ms/step - loss: 0.3558 - accuracy: 0.8550
Epoch 17/100
1600/1600 [==============================] - 4s 2ms/step - loss: 0.3546 - accuracy: 0.8574
Epoch 18/100
1600/1600 [==============================] - 3s 2ms/step - loss: 0.3538 - accuracy: 0.8580
Epoch 19/100
1600/1600 [==============================] - 4s 2ms/step - loss: 0.3542 - accuracy: 0.8546
Epoch 20/100
1600/1600 [==============================] - 3s 2ms/step - loss: 0.3535 - accuracy: 0.8576
Epoch 21/100
1600/1600 [==============================] - 3s 2ms/step - loss: 0.3522 - accuracy: 0.8571
Epoch 22/100
1600/1600 [==============================] - 4s 2ms/step - loss: 0.3522 - accuracy: 0.8574
Epoch 23/100
1600/1600 [==============================] - 4s 2ms/step - loss: 0.3517 - accuracy: 0.8580
Epoch 24/100
1600/1600 [==============================] - 4s 2ms/step - loss: 0.3516 - accuracy: 0.8571
Epoch 25/100
1600/1600 [==============================] - 3s 2ms/step - loss: 0.3514 - accuracy: 0.8583
Epoch 26/100
1600/1600 [==============================] - 3s 2ms/step - loss: 0.3510 - accuracy: 0.8558
Epoch 27/100
1600/1600 [==============================] - 3s 2ms/step - loss: 0.3504 - accuracy: 0.8594
Epoch 28/100
1600/1600 [==============================] - 3s 2ms/step - loss: 0.3507 - accuracy: 0.8594
Epoch 29/100
1600/1600 [==============================] - 3s 2ms/step - loss: 0.3501 - accuracy: 0.8591
Epoch 30/100
1600/1600 [==============================] - 4s 2ms/step - loss: 0.3494 - accuracy: 0.8591
Epoch 31/100
1600/1600 [==============================] - 3s 2ms/step - loss: 0.3491 - accuracy: 0.8569
Epoch 32/100
1600/1600 [==============================] - 3s 2ms/step - loss: 0.3494 - accuracy: 0.8579
Epoch 33/100
1600/1600 [==============================] - 4s 2ms/step - loss: 0.3494 - accuracy: 0.8571
Epoch 34/100
1600/1600 [==============================] - 3s 2ms/step - loss: 0.3492 - accuracy: 0.8591
Epoch 35/100
1600/1600 [==============================] - 3s 2ms/step - loss: 0.3489 - accuracy: 0.8577
Epoch 36/100
1600/1600 [==============================] - 4s 2ms/step - loss: 0.3487 - accuracy: 0.8574
Epoch 37/100
1600/1600 [==============================] - 3s 2ms/step - loss: 0.3486 - accuracy: 0.8590
Epoch 38/100
1600/1600 [==============================] - 4s 2ms/step - loss: 0.3483 - accuracy: 0.8586
Epoch 39/100
1600/1600 [==============================] - 4s 3ms/step - loss: 0.3488 - accuracy: 0.8591
Epoch 40/100
1600/1600 [==============================] - 4s 2ms/step - loss: 0.3484 - accuracy: 0.8587
Epoch 41/100
1600/1600 [==============================] - 4s 2ms/step - loss: 0.3481 - accuracy: 0.8584
Epoch 42/100
1600/1600 [==============================] - 3s 2ms/step - loss: 0.3483 - accuracy: 0.8599
Epoch 43/100
1600/1600 [==============================] - 4s 2ms/step - loss: 0.3484 - accuracy: 0.8601
Epoch 44/100
1600/1600 [==============================] - 3s 2ms/step - loss: 0.3477 - accuracy: 0.8596
Epoch 45/100
1600/1600 [==============================] - 3s 2ms/step - loss: 0.3477 - accuracy: 0.8576
Epoch 46/100
1600/1600 [==============================] - 3s 2ms/step - loss: 0.3478 - accuracy: 0.8580
Epoch 47/100
1600/1600 [==============================] - 4s 2ms/step - loss: 0.3479 - accuracy: 0.8583
Epoch 48/100
1600/1600 [==============================] - 3s 2ms/step - loss: 0.3470 - accuracy: 0.8605
Epoch 49/100
1600/1600 [==============================] - 3s 2ms/step - loss: 0.3471 - accuracy: 0.8602
Epoch 50/100
1600/1600 [==============================] - 3s 2ms/step - loss: 0.3476 - accuracy: 0.8583
Epoch 51/100
1600/1600 [==============================] - 4s 2ms/step - loss: 0.3470 - accuracy: 0.8604
Epoch 52/100
1600/1600 [==============================] - 4s 2ms/step - loss: 0.3469 - accuracy: 0.8594
Epoch 53/100
1600/1600 [==============================] - 4s 2ms/step - loss: 0.3466 - accuracy: 0.8595
Epoch 54/100
1600/1600 [==============================] - 3s 2ms/step - loss: 0.3464 - accuracy: 0.8586
Epoch 55/100
1600/1600 [==============================] - 4s 2ms/step - loss: 0.3472 - accuracy: 0.8599
Epoch 56/100
1600/1600 [==============================] - 4s 2ms/step - loss: 0.3468 - accuracy: 0.8583
Epoch 57/100
1600/1600 [==============================] - 3s 2ms/step - loss: 0.3470 - accuracy: 0.8608
Epoch 58/100
1600/1600 [==============================] - 3s 2ms/step - loss: 0.3466 - accuracy: 0.8593
Epoch 59/100
1600/1600 [==============================] - 3s 2ms/step - loss: 0.3468 - accuracy: 0.8624
Epoch 60/100
1600/1600 [==============================] - 3s 2ms/step - loss: 0.3459 - accuracy: 0.8593
Epoch 61/100
1600/1600 [==============================] - 3s 2ms/step - loss: 0.3462 - accuracy: 0.8616
Epoch 62/100
1600/1600 [==============================] - 3s 2ms/step - loss: 0.3471 - accuracy: 0.8600
Epoch 63/100
1600/1600 [==============================] - 3s 2ms/step - loss: 0.3464 - accuracy: 0.8608
Epoch 64/100
1600/1600 [==============================] - 4s 2ms/step - loss: 0.3465 - accuracy: 0.8609
Epoch 65/100
1600/1600 [==============================] - 4s 2ms/step - loss: 0.3456 - accuracy: 0.8601
Epoch 66/100
1600/1600 [==============================] - 4s 2ms/step - loss: 0.3459 - accuracy: 0.8614
Epoch 67/100
1600/1600 [==============================] - 4s 2ms/step - loss: 0.3462 - accuracy: 0.8599
Epoch 68/100
1600/1600 [==============================] - 3s 2ms/step - loss: 0.3451 - accuracy: 0.8612
Epoch 69/100
1600/1600 [==============================] - 3s 2ms/step - loss: 0.3453 - accuracy: 0.8610
Epoch 70/100
1600/1600 [==============================] - 3s 2ms/step - loss: 0.3451 - accuracy: 0.8596
Epoch 71/100
1600/1600 [==============================] - 3s 2ms/step - loss: 0.3452 - accuracy: 0.8583
Epoch 72/100
1600/1600 [==============================] - 3s 2ms/step - loss: 0.3447 - accuracy: 0.8606
Epoch 73/100
1600/1600 [==============================] - 4s 2ms/step - loss: 0.3450 - accuracy: 0.8566
Epoch 74/100
1600/1600 [==============================] - 4s 2ms/step - loss: 0.3449 - accuracy: 0.8597
Epoch 75/100
1600/1600 [==============================] - 3s 2ms/step - loss: 0.3453 - accuracy: 0.8606
Epoch 76/100
1600/1600 [==============================] - 3s 2ms/step - loss: 0.3451 - accuracy: 0.8605
Epoch 77/100
1600/1600 [==============================] - 3s 2ms/step - loss: 0.3447 - accuracy: 0.8602
Epoch 78/100
1600/1600 [==============================] - 3s 2ms/step - loss: 0.3445 - accuracy: 0.8615
Epoch 79/100
1600/1600 [==============================] - 4s 2ms/step - loss: 0.3445 - accuracy: 0.8597
Epoch 80/100
1600/1600 [==============================] - 3s 2ms/step - loss: 0.3446 - accuracy: 0.8612
Epoch 81/100
1600/1600 [==============================] - 3s 2ms/step - loss: 0.3439 - accuracy: 0.8602
Epoch 82/100
1600/1600 [==============================] - 4s 2ms/step - loss: 0.3438 - accuracy: 0.8585
Epoch 83/100
1600/1600 [==============================] - 4s 2ms/step - loss: 0.3437 - accuracy: 0.8595
Epoch 84/100
1600/1600 [==============================] - 3s 2ms/step - loss: 0.3444 - accuracy: 0.8618
Epoch 85/100
1600/1600 [==============================] - 3s 2ms/step - loss: 0.3444 - accuracy: 0.8616
Epoch 86/100
1600/1600 [==============================] - 4s 2ms/step - loss: 0.3436 - accuracy: 0.8605
Epoch 87/100
1600/1600 [==============================] - 4s 2ms/step - loss: 0.3429 - accuracy: 0.8608
Epoch 88/100
1600/1600 [==============================] - 4s 2ms/step - loss: 0.3438 - accuracy: 0.8600
Epoch 89/100
1600/1600 [==============================] - 3s 2ms/step - loss: 0.3418 - accuracy: 0.8620
Epoch 90/100
1600/1600 [==============================] - 4s 2ms/step - loss: 0.3436 - accuracy: 0.8619
Epoch 91/100
1600/1600 [==============================] - 4s 2ms/step - loss: 0.3430 - accuracy: 0.8606
Epoch 92/100
1600/1600 [==============================] - 4s 2ms/step - loss: 0.3437 - accuracy: 0.8612
Epoch 93/100
1600/1600 [==============================] - 4s 2ms/step - loss: 0.3432 - accuracy: 0.8618
Epoch 94/100
1600/1600 [==============================] - 3s 2ms/step - loss: 0.3431 - accuracy: 0.8625
Epoch 95/100
1600/1600 [==============================] - 3s 2ms/step - loss: 0.3432 - accuracy: 0.8608
Epoch 96/100
1600/1600 [==============================] - 4s 2ms/step - loss: 0.3439 - accuracy: 0.8596
Epoch 97/100
1600/1600 [==============================] - 3s 2ms/step - loss: 0.3434 - accuracy: 0.8614
Epoch 98/100
1600/1600 [==============================] - 4s 2ms/step - loss: 0.3437 - accuracy: 0.8608
Epoch 99/100
1600/1600 [==============================] - 4s 2ms/step - loss: 0.3428 - accuracy: 0.8610
Epoch 100/100
1600/1600 [==============================] - 3s 2ms/step - loss: 0.3424 - accuracy: 0.8605